.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  border-style: solid;
  font-family: inherit;
}

.head {
  display: flex;
  align-items: center;
}

.headLines {
  display: flex;
  flex-direction: column;
}
